---
# SASS for the Faith side of the blog
---
html {
  font-family: "Roboto Slab", serif;
}

/* Red Theme */
.theme-base-red .sidebar {
  background-color: #aa4132;
}
article.post a,
article.post a:hover {
  color: #aa4132;
}
