---
layout: default
title:  Home
---
<h2 class="nerd">Nerd stuff</h2>
<table>
  <tfoot>
  <tr>
    <td><a href="{{ site.baseurl }}/nerd">Archives</a></td>
    <td></td>
  </tr>
  </tfoot>
  <tbody>
  {% for post in site.categories.nerd limit:4 %}
  <tr>
    <td class="archive-post nerd"><a href="{{ post.url }}">{{ post.title }}</a></td>
    <td class="archive-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2 class="faith">Faith stuff</h2>
<table>
  <tfoot>
  <tr>
    <td><a href="{{ site.baseurl }}/faith">Archives</a></td>
    <td></td>
  </tr>
  </tfoot>
  <tbody>
  {% for post in site.categories.faith limit:4 %}
  <tr>
    <td class="archive-post faith"><a href="{{ post.url }}">{{ post.title }}</a></td>
    <td class="archive-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2 class="language">Language stuff</h2>
<table>
  <tfoot>
  <tr>
    <td><a href="{{ site.baseurl }}/language">Archives</a></td>
    <td></td>
  </tr>
  </tfoot>
  <tbody>
  {% for post in site.categories.language limit:4 %}
  <tr>
    <td class="archive-post language"><a href="{{ post.url }}">{{ post.title }}</a></td>
    <td class="archive-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
