---
# SASS for JP Collection
---

.sidebar,
h2.jp {
  background: #fff;
  color: #515151;
}

a,
.content a,
.sidebar a {
  color: #ed2939;
}

blockquote {
  font-family: serif;
}

h3.acronym, h4.acronym {
  color: #333;
}

table img {
  margin: 0;
}

.halfie img {
  margin: 0;
  display: inline-block;
  max-width: 49%;
}

/* -- Translation Popups -- */
a.translation {
  color: #555;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a.translation:hover {
  color: #ed2939
}

a.translation:visited {
  color: #555;
}

div.popup-translation {
  display: none;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 0.3rem;
  box-shadow: 0 0 12px rgba(0,0,0,.6);
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
}

div.popup-translation h1,
div.popup-translation h2,
div.popup-translation h3 {
  margin: 0.4em;
}

div.popup-translation h1 {
  font-size: 2em;
}

div.popup-translation h2 {
  font-size: 1.35em;
}

div.popup-translation h3 {
  font-size: 1.125em;
}

