---
# SASS for the Nerd side of the blog
---
code,
.sidebar-about h1,
.sidebar p.lead,
.sidebar a,
p#copyright,
.post-title {
  font-family: "Roboto Mono", monospace;
}
p#copyright {
  font-size: 0.75rem;
}
.highlight {
  overflow-x: auto;
}

/* Blue Theme */
.theme-base-blue .sidebar {
  background-color: #22aaee;
}
article.post a,
article.post a:hover {
  color: #22aaee;
}
#wait:after {
  content: "█";
  animation: blink 1.2s infinite;
  animation-timing-function: steps(2, start);
}
#type:after {
  content: "█";
  animation: none;
}
#finish:after {
  content: "";
  animation: none;
}

@keyframes blink {
  80% {visibility: hidden;};
}
section#hide {
  visibility: hidden;
}
section#there {
  visibility: visible;
}
section#slide {
  opacity: 1;
  position: relative;
  top: 0px;
  visibility: visible;
  animation: slide 0.7s;
}
@keyframes slide {
    0% {opacity: 0; top: -20px;}
}

