---
# SASS for the TZ collection
---
.sidebar,
h2.tz {
  background:
    linear-gradient(
      rgba(64, 64, 64, 0.6),
      rgba(64, 64, 64, 0.4),
      rgba(64, 64, 64, 0)
    ),
    url('/assets/tz/blog-back-blurred.jpg') center/cover no-repeat;
}
article.post a,
article.post a:hover {
  color: #22aaee;
}
