<head>
  <link href="http://gmpg.org/xfn/11" rel="profile"></link>
  <meta charset="UTF-8"></meta>
  <meta name="ahrefs-site-verification" content="4ae29db483b00bed26d49761a839fdf31a08ce024074f7f54a3c216d291798fa"></meta>

  <!-- Redirect to HTTPS -->
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />


  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

  <!-- Twitter Card stuff -->
  {% include twittercard.html %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Mono:400,700|Roboto+Slab:400,700" type="text/css"></link>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"></link>
  {% if page.categories contains 'nerd' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/nerd.css"></link>
  {% elsif page.categories contains 'faith' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/faith.css"></link>
  {% elsif page.categories contains 'language' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/language.css"></link>
  {% elsif page.collection contains 'tz' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/tz.css"></link>
  {% elsif page.collection contains 'jp' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/jp.css"></link>
  {% endif %}

  <!-- Icons -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/favicon-64.png"></link>
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/favicon-152.png"></link>
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/favicon-144.png"></link>
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/favicon-120.png"></link>
  <meta name="msapplication-TileColor" content="#404040"></meta>
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/favicon-144.png"></meta>
  <link rel="shortcut icon" sizes="228x228" href="{{ site.baseurl }}/assets/favicon-228.png"></link>
  <link rel="shortcut icon" sizes="195x195" href="{{ site.baseurl }}/assets/favicon-195.png"></link>
  <link rel="shortcut icon" sizes="128x128" href="{{ site.baseurl }}/assets/favicon-128.png"></link>
  <link rel="shortcut icon" sizes="96x96" href="{{ site.baseurl }}/assets/favicon-96.png"></link>
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml"></link>

</head>
