<div class="sidebar">
  <div class="container sidebar-sticky">
    {% if page.collection contains 'jp' %}
    <img class="logo" src="/assets/jp/hh.png" />
    {% else %}
    <img class="logo" src="/assets/bergnerd-face.png" />
    {% endif %}
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">
      {% if page.categories contains 'nerd' %}
        {{ site.nerd-desc }}
      {% elsif page.categories contains 'faith' %}
        {{ site.faith-desc }}
      {% elsif page.categories contains 'language' %}
        {{ site.lang-desc }}
      {% elsif page.collection contains 'tz' %}
        {{ site.tz-desc }}
      {% elsif page.collection contains 'jp' %}
        {{ site.jp-desc }}
      {% else %}
        {{ site.description }}
      {% endif %}
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <div class="social-buttons">
      <a href="https://gitlab.com/dberg918" target="_blank">
        <i class="fa-brands fa-gitlab"></i>
      </a>
      <a href="https://linkedin.com/in/dberg918" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://strava.com/athletes/dberg918" target="_blank">
        <i class="fa-brands fa-strava"></i>
      </a>
      <a rel="me" href="https://mastodon.social/@dberg918">
        <i class="fa-brands fa-mastodon"></i>
      </a>
    </div>
    <p id="copyright">&copy; {{ site.time | date: '%Y' }}. No rights reserved.</p>
  </div>
</div>
