{% if post.categories contains 'nerd' %}
  <div class="category nerd">
{% elsif post.categories contains 'faith' %}
  <div class="category faith">
{% elsif post.categories contains 'language' %}
  <div class="category language">
{% endif %}
  {{ post.categories }}
</div>
