<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@dberg918">
<meta name="twitter:title" content="{{ page.title }}">
<!-- description for post -->
{% if page.subtitle %}
  <meta name="twitter:description" content="{{ page.subtitle }}">
{% elsif page.categories contains 'nerd' %}
  <meta name="twitter:description" content="{{ site.nerd-desc }}">
{% elsif page.categories contains 'faith' %}
  <meta name="twitter:description" content="{{ site.faith-desc }}">
{% elsif page.categories contains 'language' %}
  <meta name="twitter:description" content="{{ site.lang-desc }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
<!-- tweet thumbnail -->
{% if page.image %}
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
{% else %}
  <meta name="twitter:image" content="{{ site.url }}/assets/bn-twitter.png">
{% endif %}
