/*
 * Bergnerd Base
 *
 * An extra layer of SASSiness on top of Hyde
 * for the bergnerd blerg.
 *
 * This file contains some basic modifications to the Hyde theme
 * that apply evenly across the entire blog. Changes to specific topics
 * of the blog should go in the SASS files for their respective topics.
 *
 */

/* Font-family & size changes */
html,
.pagination {
  font-family: "Roboto", sans-serif;
}
.sidebar-about h1 {
  font-size: 2.62rem;
  font-family: "Roboto Mono", monospace;
}
.post-title {
  font-size: 1.2rem;
}
.post-date {
  font-size: 0.82rem;
}
.related-posts h3 {
  font-size: 1rem;
}
pre code {
  font-size: 80%;
}
.category {
  font-family: "Roboto Mono", monospace;
  font-size: 0.6rem;
  color: #FFF;
}
.lead {
  font-weight: 400;
}

/* Title fonts */
.related-posts h3.nerd,
h1.post-title.nerd {
  font-family: "Roboto Mono", monospace;
}
.related-posts h3.faith,
h1.post-title.faith {
  font-family: "Roboto Slab", serif;
}

/* Base Theme */
.sidebar {
  background-color: #404040;
}
a,
.content a,
.related-posts li a {
  color: #404040;
  text-decoration: none;
}
a:hover,
.content a:hover,
.related-posts li a:hover {
  text-decoration: underline;
}
.page-title,
.post-title,
.post-title a,
.related-posts li a:hover {
  color: #404040;
}
.caption {
  font-size: 0.6rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
.social-buttons a {
  display: inline-block;
  margin: 0 2px;
}
.social-buttons a:first-child {
  margin: 0 2px 0 0;
}
.social-buttons a:last-child {
  margin: 0 0 0 2px;
}
.social-buttons a:hover {
  text-decoration: none;
  color: #ddd;
}
i.fa {
  font-size: 32px;
}
/* Tweak sidebar padding */
.sidebar {
  padding: 1rem;
}
/* Face Logo in the sidebar */
.logo {
  margin: 0 auto;
  width: 96px;
}
@media (min-width: 48em) and (min-height: 32em) {
  .logo {
    width: 100%;
    margin: 0;
  }
}

/* Category tags */
div.category {
  display: inline-block;
  position: relative;
  top: -0.15rem;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}
/* Category tag/header colors */
div.collection.tz {
  background-color: #fcd116;
}
div.category.nerd,
h2.nerd {
  background-color: #22aaee;
}
div.category.faith,
h2.faith {
  background-color: #aa4132;
}
div.category.language,
h2.language {
  background-color: #51b35f;
}

/* Archive page */
h2.tz,
h2.nerd,
h2.faith,
h2.language {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
h2.nerd,
td.nerd {
  font-family: "Roboto Mono", monospace;
}
h2.faith,
td.faith {
  font-family: "Roboto Slab", serif;
}
h2.language,
td.language {
  font-family: "Roboto", sans-serif;
}
td,
th {
  border: 0;
}
.archive-post {
  font-weight: 700;
}
.archive-date {
  color: #9a9a9a;
}
td.archive-date {
  min-width: 10em;
  text-align: right;
}

/*-- About Page --*/
h2.about {
  background-color: #404040;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
