// Error
//
// Show error messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.error {
  margin-bottom: 1rem;
  font-family: "Roboto Mono", Menlo, Monaco, "Courier New", monospace;
  font-size: 80%;
  line-height: 1.4;
  padding: 1rem;
  padding-right: 0.5rem;
  color: #dc2211;
  background-color: #f9f9f9;
  border-radius: 3px;
}
