<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% if page.categories contains 'nerd' %}
    <body class="layout-reverse theme-base-blue">
  {% elsif page.categories contains 'faith' %}
    <body class="layout-reverse theme-base-red">
  {% elsif page.categories contains 'language' %}
    <body class="layout-reverse theme-base-green">
  {% else %}
    <body class="layout-reverse">
  {% endif %}

    {% include sidebar.html %}

    <main class="container content">
      {{ content }}
    </main>

  </body>
</html>
