---
layout: default
---

<article class="post">
  <h1 id="finish" class="post-title" text="{{ page.title }}"><noscript>{{ page.title }}</noscript></h1>
  <section id="there">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
    {{ content }}
  </section>
</article>

<!-- JS -->
{% include type.js %}
{% if page.collection contains 'jp' %}
  {% include translate.js %}
{% endif %}
